<div class="container mt-3">
	<div class="row">
		<div class="col">
			<% Tagger.instances.each do |instance| %>
				<div class="card mb-3">
					<div class="card-header"><%= instance.name.titleize %></div>
					<div class="card-body">
						<% instance.locales.each do |locale| %>
							<div class="card mb-3">
								<div class="card-header">
									<div class="row">
										<div class="col-md-12">
											<%= "#{instance.name.titleize} > #{locale.code}"  %>
											<%= link_to complete_tagger_instance_locale_path(instance_id: instance.name, id: locale.code), class: 'btn btn-sm btn-outline-primary float-right ml-3' do %>
												<i class="zmdi zmdi-download"></i>
											<% end %>
											<span class="float-right" id="<%= "message-#{instance.name}-#{locale.code}" %>">
												<%= flash_message("message-#{instance.name}-#{locale.code}") %>
											</span>
										</div>
									</div>
								</div>
								<div class="card-body">
									<%= form_tag upload_tagger_instance_locale_path(instance_id: instance.name, id: locale.code), multipart: true, :'accept-charset' => 'UTF-8', id: "form-#{instance.name}-#{locale.code}" do %>
										<div class="row mb-3">
											<div class="col-md-9">
												<% if locale.tags.length > 0 %>
												<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
													<% locale.tags.each do |tag| %>
													<label class="btn btn-outline-primary">
														<input type="radio" name="from_tag" value="<%= tag.hexdigest %>">
														From <%= tag.name %>
													</label>
													<% end %>
													<label class="btn btn-outline-primary active">
														<input type="radio" name="from_tag" value="TODAY" checked>
														Till Now
													</label>
												</div>
												<% else %>
												No Tag points are generated yet for locale <b><%= locale.code %></b>, you can start with download delta option below.
												<% end %>
											</div>
											<div class="col-md-3">
												
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<%= link_to delta_tagger_instance_locale_path(instance_id: instance.name, id: locale.code),
													class: 'btn btn-outline-primary downoad-delta',
													'data-url': delta_tagger_instance_locale_path(instance_id: instance.name, id: locale.code),
													'data-target': "#form-#{instance.name}-#{locale.code}" do %>
													<i class="zmdi zmdi-download"></i> Delta
												<% end %>
											</div>
											<div class="col-md-9">
												<div class="input-group">
													<div class="custom-file">
														<%= file_field_tag 'file', class: 'custom-file-input', id: "ig-#{instance.name}-#{locale.code}" %>
														
														<label
															class="custom-file-label"
															for="<%= "ig-#{instance.name}-#{locale.code}" %>"
															aria-describedby="<%= "iga-#{instance.name}-#{locale.code}" %>">
															<%= "Choose #{instance.name.titleize} #{locale.code} file" %>
														</label>
													</div>
													<div class="input-group-append">
														<%= submit_tag "Upload", class: "input-group-text btn btn-default upload-files", data: { disable_with: false } %>
													</div>
												</div>
											</div>
										</div>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>