<div class="container mt-3">
	<div class="row">
		<div class="col">
			<% Tagger.instances.each do |instance| %>
				<div class="card mb-3">
					<div class="card-header"><%= instance.name.titleize %></div>
					<div class="card-body">
						<% instance.locales.each do |locale| %>
							<div class="card mb-3">
								<div class="card-header">
									<div class="row">
										<div class="col-md-12">
											<%= "#{instance.name.titleize} > #{locale.code}"  %>
											<%= link_to complete_tagger_instance_locale_path(instance_id: instance.name, id: locale.code), class: 'btn btn-sm btn-outline-primary float-right ml-3' do %>
												<i class="zmdi zmdi-download"></i>
											<% end %>
											<span class="float-right" id="<%= "message-#{instance.name}-#{locale.code}" %>">
												<%= flash_message("message-#{instance.name}-#{locale.code}") %>
											</span>
										</div>
									</div>
								</div>
								<div class="card-body" id="<%= "body-#{instance.name}-#{locale.code}" %>">
									<%= render(partial: 'tagger/locales/locale', locals: {instance: instance, locale: locale})%>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>